@import "./utils/variables";
@import "./base/normalize";

body {
  background-color: $primaryBgColor;

  color: $primaryTextColor;
  font-family: $mainFont;
  font-style: $mainFontStyle;
  font-weight: $mainFontWeight;
  font-size: $mainFontSize;
  letter-spacing: $mainLetterSpacing;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}

.default-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.default-title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: $primaryTextColor;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.card-image {
  display: block;
  max-width: 100%;
  height: auto;
}

@import "./components/page-header";
@import "./components/page-logo";
@import "./components/page-modal";
@import "./components/page-hero";
@import "./components/page-features";
@import "./components/page-ourwork";
@import "./components/page-ourteam";
@import "./components/page-clients";
@import "./components/page-footer";
@import "./components/page-filter";
@import "./components/page-works";
