.filter {
  display: flex;
  justify-content: center;
  height: 54px;
  margin-bottom: 34px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;

  background-color: $secondaryBgColor;
  color: $primaryTextColor;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  transition: $transitionFunction;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $accentColor;
    color: $contrastTextColor;
  }
}
